/node_modules
/examples/*/.aora
/examples/*/.aora-production
/examples/*/src/.aora
/examples/*/src/.aora-production
/examples/libs/monorepo/foo/.aora
/examples/*/dist
/examples/*/node_modules
/packages/*/node_modules
/packages/*/dist
/packages/*/lib
/packages/*/es
/packages/*/tsconfig.tsbuildinfo
/packages/*/src/**/fixtures/*/dist
/packages/*/src/**/fixtures/*/.aora
/packages/*/src/**/fixtures/*/.aora-production
.DS_Store
examples/*/build
examples/*/dist
install-state.gz

**/.yarn/cache
*.log
.idea
**/public/build/*
